body {
  background-color: beige
}

.engine {
  width: 30%;
  height: 30%;
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.comment-1 {
  text-align: center;
}

.footer {
  text-align: center;
  border: 10px soild black;
  background-color: wheat
}

.ada-father {
  height: 300px;
}
